<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Group Verify</title>
	</head>
    <p>{{ msg1 }}</p>
	<body>
		<h1>Group Verify</h1>
		<form method="post" enctype="application/x-www-form-urlencoded">
			<select name='group'>
				<option value='NTUSERVICE'>NTUSERVICE</option>
				<option value='NTUCSIESERVICE'>NTUCSIESERVICE</option>
			</select>
      <input name="msg">
      <input type="submit" value="Send Sign request">
        <p><a href="/download?file=group_verify">Download Signature</a></p>
  	</form>
  	<p><a href="/">Back</a></p>
  </body>
</html>
