<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Services</title>
    </head>
    <body>
    <h1>Services</h1>
    <p>Please choose a service</p>
    <table>
        <tr>
          <th>Service</th>
          <th>Login</th>
          <th>Pseudonym</th>
        </tr>
        {% for s in services %}
          <tr>
            <th>{{ s.bsn }}</th>
            <th>{{ s.status }}</th>
            <th>{{ s.name }}</th>
          </tr>
        {% endfor %}
    </table>
    <p><a href="group_verify?sid=0">NTU Chat Board</a></p>
    <p><a href="group_verify?sid=1">NTU Chat Board 2</a></p>
    <p><a href="group_verify?sid=2">NTUCSIE Chat Board</a></p>
    <p><a href="link">Link pseudonyms</a></p>
    <p><a href="/">Back</a></p>
  </body>
</html>