<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Verify Chat Board</title>
	</head>
	<body>
		<h1>Verify Service</h1>
		<p>You can verify whether you are talking to a service under right group or not at here.</p>
        <p>{{ bsn }}</p>
        <p>{{ gname }}</p>
        <p>{{ signed_msg }}</p>
    <form method="post" enctype="application/x-www-form-urlencoded">
      <input type="text" name="msg">
      <input type="submit" value="Send Challenge">
  	</form>
        <p><a href="/download?file=group_verify">Download Signature</a></p>
        <p><a href={{ url_for('login', sid=sid) }}>Login!</a></p>
  	<p><a href="/">Back</a></p>
  </body>
</html>
