<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Link</title>
	</head>
	<body>
    <h1>Link pseudonyms</h1>
    <p>NOTE: Link service 0 to service 1</p>
    {% if step == 0 %}
      <form>
        Name 0:<br>
        <input type="text" name="name0"><br>
        Name 1:<br>
        <input type="text" name="name1">
        <input type="submit" value="Send">
      </form>
    {% else %}
      <form>
        Sign 0:<br>
        <input type="file" name="sign0"><br>
        Sign 1:<br>
        <input type="file" name="sign1"><br>
        <input type="submit" value="Send">
      </form>
    {% endif %}
    <p><a href="entry">Back</a></p>
  </body>
</html>